.sun
{
	margin-left: 500px;
}
.sun input{
	
	font-family: "Roboto",sans-serif;
	outline: 1;
	background:#f2f2f2;
	width:400px;
	border:0;
	margin:0 0 15px;
    padding:15px;
    box-sizing: border-box;
    font-size: 14px;
    text: uppercase;

}
body
{
	background: url(https://cdn.pixabay.com/photo/2016/10/01/19/20/charity-1708176_960_720.jpg);
	background-repeat: no-repeat;
	background-size: 1400px 900px
}
label
{
	color: #000000;
	font-weight: 1000;
}
h1
{
	color:#000000;
	margin-left: 100px;
}
.sun button
{
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #F45C3F;
	width:150px;
	border:0;
	padding:10px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 200px
}
#tat
{
color: #000000;
}