.orange
{width: 360px;
	margin: auto;
    padding: 10% 0 0;
    
}
.orange input
{
	font-family: "Roboto",sans-serif;
	outline: 1;
	background:#f2f2f2;
	width:100%;
	border:0;
	margin:0 0 15px;
    padding:15px;
    box-sizing: border-box;
    font-size: 14px;

}
label
{
	font-weight: bolder;
	color:#ffffff;
}
body
{
	background: url(https://cdn.pixabay.com/photo/2013/09/23/17/38/money-185366_960_720.jpg);
	background-repeat: no-repeat;
	background-size: 1400px 800px;
}
.orange button
{
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	 margin-right:300px;
	outline: 0;
	background:#A01AF2   ;
	width:300px;
	border:0;
	padding:15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}