.run
{
	margin-left: 500px;
}
.run input
{
	font-family: "Roboto",sans-serif;
	outline: 1;
	background:#f2f2f2;
	width:600px;
	border:0;
	margin:0 0 15px;
    padding:15px;
    box-sizing: border-box;
    font-size: 14px;
}
.run button
{
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	 margin-right:300px;
	outline: 0;
	background:#A01AF2   ;
	width:200px;
	border:0;
	padding:10px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 200px;
}